# Assessment for Advanced Data Science
# *Data Pipelines*

## Radzim Sendyka, Christian Cabrera, Carl Henrik Ek and Neil D. Lawrence

### 19 November 2024

Welcome to the course assessment for the Advanced Data Science unit. In this assessment, you will build two data pipelines and prediction systems.

The maximum total mark for this assessment is 20. That mark is split into two miniprojects below.
- The first miniproject is worth 7 marks.
- The second miniproject is worth 13 marks.

*The check Session for this Assessment is 03 December 2024.*

# Task 1 (7 marks)

This example project builds on your experience from the practicals, using Open Street Maps, and connecting them to real-world datasets.

Your prediction system will be based on data from the 2021 UK Census, and Open Street Maps.

### Build a data pipeline and prediction system.

Structure your system around the [Access-Assess-Address](https://inverseprobability.com/talks/notes/access-assess-address-a-pipeline-for-automated-data-science.html) framework for automated data science.
Use the framework of [Data Readiness Levels](https://inverseprobability.com/publications/data-readiness-levels.html) to track the state of your datasets throughout the process.
Visualise your data and predictions using appropriate charts and graphics.
Remember, your notebook should tell a story.

1.1. Download the data from online sources. In this task you will need:
  - UK Census Data
    - The UK Census data file for and Socio-economic Classification (NS SEC) [here](https://www.ons.gov.uk/datasets/TS062/editions/2021/versions/5) or [here](https://www.nomisweb.co.uk/sources/census_2021_bulk). Use the most detailed area type (Output Areas).
    - One other UK Census data file of your choosing [here](https://www.ons.gov.uk/search?topics=9731,6646,3845,9497,4262,4128,7755,4994,6885,9724,7367&filter=datasets) or [here](https://www.nomisweb.co.uk/sources/census_2021_bulk). Use the most detailed area type available.
    - Geographic coordinates of Census Output Areas [here](https://www.data.gov.uk/dataset/4d4e021d-fe98-4a0e-88e2-3ead84538537/output-areas-december-2021-boundaries-ew-bgc-v2).
  - Spatial data
    - Set up an API connection to Open Street Maps [here](https://osmnx.readthedocs.io/en/stable/). Optionally, to be able to use more data in training, you might want to also download the entire map for England (or more) [here](https://download.openstreetmap.fr/extracts/) or [here](https://wiki.openstreetmap.org/wiki/Planet.osm).

1.2. Structure the data, and upload it to your AWS database.

- Census datasets can be huge and unwieldy to manipulate directly in python frameworks such as pandas. As a result we will host the data in a relational database.

- Using a cloud hosted database (such as MariaDB hosted on the AWS RDS service),  you will construct a database containing tables that contain per-output-area data, latitudes and longitudes of the output areas, and potentially, extracted selected open street maps features from the country-wide data file.

- Make sure you set the correct indices on your data, which will allow your code to run much faster. Hint: create an index on any columns you will be looking up, and joint indices if your lookup involves multiple columns (like coordinates).

You will likely find the following resources helpful.

- Lecture 1, 2 and 3.
- Lab class 1 and 2.


- *Note, this particular dataset could probably be handled directly in pandas, but you are explicitly tasked with using a database. This is a compromise from previous iterations of this course, where students spent quite a lot of time struggling from the size of the data. This is an opportunity for you to demonstrate your skills, as well as prepare for the second part of the assessment where databases might be necessary. Approach that do not use databases where needed will be penalised during marking.*


2.0. Explore the data.

  - To make predictions you will augment your data with information obtained from Open Street Map: an open license source of mapping information. You will need to use the techniques you have learnt in the course to indentify and incorporate useful features for your prediction tasks.
  - Look at the percentage of students (NS SEC code L15) in the individual output areas, and explore how it's related to various types of open street map features in those locations. Use the relationships you found to suggest the features to be used in a system that predicts percentage of students in a given area.
  - Do the same for an additional census variable (e.g., the average age in a given area).

3.0. Make a prediction system.
- Use Open Street Maps to predict Socio-Economic Status - in particular, the percent of full time students, from OSM features. Your function should take as input a coordinate pair (you can assume it will be in England), and return an estimate for the share of students in that area.

- Do the same for the additional census variable you selected in the previous step.

Hints:

  - *Some of the census data sheets are very detailed. You might want to try "boiling them down" to some aggregate value or selecting just the most important columns.*

  - *This assignment is focused on data pipelines, rather than machine learning, so we do not expect any advanced architectures here - a linear model or similar is perfectly fine.*
  
  - *For data exploration, or picking your second dataset, you may find useful the [interactive map](https://www.ons.gov.uk/census/maps/) of the census data.*

### Story.

- Remember the notebook you create should tell a story, any code that is not critical to that story can safely be placed into the associated analysis library and imported for use (structured as given in the Fynesse template). Make sure your decisions are well substanciated and flow nicely throughout the notebook, with clear explanations.

- Explain everything you do. Why is your question important, why you selected the datasets you did, why did you join them how you did, why did you look at the things you looked at.

Make sure in your notebook you discuss the design decisions you made in your pipeline and prediction system. How did you structure your notebook? How did you track data readiness? Which aspects of your system could be improved further?

Make sure you compare how you predict student population and your second chosen property. What differences are there, in the underlying data, process, and results?

Make sure you discuss the reusability of your data pipeline and prediction system. What changes to the underlying data/system is it resilient to, and what isn't it? What work would need to be done to adjust it to answer questions about other statistics, or a different country, instead?

### Fynesse library.

- Alongside your implementation you will provide a short repository overview describing how you have implemented the different parts of the project and where you have placed those parts in your code repository. You will submit your code alongside a version of this notebook that will allow your examiner to understand and reconstruct the thinking behind your analysis. This notebook is structured to help you in creating that description and allow you to understand how we will allocate the marks. You should make use of the Fynesse framework (https://github.com/lawrennd/fynesse_template) for structuring your code.

- One artefact to be included in your submission is a python library structured according to the "Access, Assess, Address" standard for data science solutions. You will submit this library alongside your code. Use the cell below to perform the necessary installation instructions for your library.
You should base your module on the template repository given by the Fynesse template repository. That should make it pip-installable as below.
`%pip install git+https://github.com/lawrennd/fynesse_template.git`. You can either replace fynesse with the name you've given your analysis module or you can leave the name as fynesse if you prefer.

- Remember the notebook you create should tell a story, any code that is not critical to that story can safely be placed into the associated analysis library and imported for use (structured as given in the Fynesse template). Remember to include you fynesse library in your submission.

## Access

In [1]:
import yaml
with open("credentials.yaml") as file:
  credentials = yaml.safe_load(file)

username = credentials["username"]
password = credentials["password"]
url = credentials["url"]
port = credentials["port"]

In [2]:
%load_ext sql
%config SqlMagic.style = '_DEPRECATED_DEFAULT'
%sql mariadb+pymysql://$username:$password@$url/ads_2024?local_infile=1

In [3]:
# install your library here
%pip uninstall --yes fynesse
%pip install git+https://github.com/Salt2Salt/ab2886_ads_2024.git
# %pip install osmnx
%load_ext autoreload

Found existing installation: fynesse 0.1.0
Uninstalling fynesse-0.1.0:
  Successfully uninstalled fynesse-0.1.0
Note: you may need to restart the kernel to use updated packages.
Defaulting to user installation because normal site-packages is not writeable
Collecting git+https://github.com/Salt2Salt/ab2886_ads_2024.git
  Cloning https://github.com/Salt2Salt/ab2886_ads_2024.git to c:\users\user\appdata\local\temp\pip-req-build-xh4fat07
  Resolved https://github.com/Salt2Salt/ab2886_ads_2024.git to commit de427efbc6082539b33e613059dfa9f471468342
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: pandas in c:\users\user\appdata\roaming\python\python312\site-packages (from fynesse==0.1.0) (2.2.0)
Requirement already satisfied: numpy in c:\users\user\appdata\roaming\python\python312\site-packages (from fynesse==0.1.0) (1.26.4)
Requirement already satisfied: jupyter in c:\users\user\appdata\roaming\python\python312\site-packages (from fynesse==0.1.0) (1.1.1)
Requirement already satisfied: matplotlib in c:\users\user\appdata\roaming\python\python312\site-packages (from fynesse==0.1.0) (3.7.1)
Requirement already satisfied: notebook in c:\users\user\appdata\roaming\python\python312\site-packages (from jupyter->fynesse==0.1.0) (7.2.2)
Requirement already satisfied: jupyter-console in c:\users\user\appdata\roaming\python\python312\site-packages (from jupyter->fynesse==0.1.0) (6.6.3)
Requirement already satisfied: nbconvert in c:\users\user\appdata\roaming\python\python312\site-packages (from jupyter->fynesse==0.1.0) (7.16.4)
Requirement already satisfied: ipykernel in c:\users\user\appdata\roaming\python\python312\site-packages (from jupyter->fynesse==0.1.0) (6.29.2)
Requirement already satisfied: ipywidgets in c:\users\user\appdata\roaming\python\python312\site-packages (from jupyter->fynesse==0.1.0) (8.1.2)
Requirement already satisfied: jupyterlab in c:\users\user\appdata\roaming\python\python312\site-packages (from jupyter->fynesse==0.1.0) (4.2.5)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\user\appdata\roaming\python\python312\site-packages (from matplotlib->fynesse==0.1.0) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\user\appdata\roaming\python\python312\site-packages (from matplotlib->fynesse==0.1.0) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\user\appdata\roaming\python\python312\site-packages (from matplotlib->fynesse==0.1.0) (4.48.1)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\user\appdata\roaming\python\python312\site-packages (from matplotlib->fynesse==0.1.0) (1.4.5)
Requirement already satisfied: packaging>=20.0 in c:\users\user\appdata\roaming\python\python312\site-packages (from matplotlib->fynesse==0.1.0) (23.2)
Requirement already satisfied: pillow>=6.2.0 in c:\users\user\appdata\roaming\python\python312\site-packages (from matplotlib->fynesse==0.1.0) (10.2.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\user\appdata\roaming\python\python312\site-packages (from matplotlib->fynesse==0.1.0) (3.1.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\user\appdata\roaming\python\python312\site-packages (from matplotlib->fynesse==0.1.0) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\appdata\roaming\python\python312\site-packages (from pandas->fynesse==0.1.0) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\user\appdata\roaming\python\python312\site-packages (from pandas->fynesse==0.1.0) (2023.4)
Requirement already satisfied: six>=1.5 in c:\users\user\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.7->matplotlib->fynesse==0.1.0) (1.16.0)
Requirement already satisfied: comm>=0.1.1 in c:\users\user\appdata\roaming\python\python312\site-packages (from ipykernel->jupyter->fynesse==0.1.0) (0.2.1)
Requirement already satisfied: debugpy>=1.6.5 in c:\users\user\appdata\roaming\python\python312\site-packages (from ipykernel->jupyter->fynesse==0.1.0) (1.8.1)
Requirement already satisfied: ipython>=7.23.1 in c:\users\user\appdata\roaming\python\python312\site-packages (from ipykernel->jupyter->fynesse==0.1.0) (8.21.0)
Requirement already satisfied: jupyter-client>=6.1.12 in c:\users\user\appdata\roaming\python\python312\site-packages (from ipykernel->jupyter->fynesse==0.1.0) (8.6.0)
Requirement already satisfied: jupyter-core!=5.0.*,>=4.12 in c:\users\user\appdata\roaming\python\python312\site-packages (from ipykernel->jupyter->fynesse==0.1.0) (5.7.1)
Requirement already satisfied: matplotlib-inline>=0.1 in c:\users\user\appdata\roaming\python\python312\site-packages (from ipykernel->jupyter->fynesse==0.1.0) (0.1.6)
Requirement already satisfied: nest-asyncio in c:\users\user\appdata\roaming\python\python312\site-packages (from ipykernel->jupyter->fynesse==0.1.0) (1.6.0)
Requirement already satisfied: psutil in c:\users\user\appdata\roaming\python\python312\site-packages (from ipykernel->jupyter->fynesse==0.1.0) (6.0.0)
Requirement already satisfied: pyzmq>=24 in c:\users\user\appdata\roaming\python\python312\site-packages (from ipykernel->jupyter->fynesse==0.1.0) (25.1.2)
Requirement already satisfied: tornado>=6.1 in c:\users\user\appdata\roaming\python\python312\site-packages (from ipykernel->jupyter->fynesse==0.1.0) (6.4)
Requirement already satisfied: traitlets>=5.4.0 in c:\users\user\appdata\roaming\python\python312\site-packages (from ipykernel->jupyter->fynesse==0.1.0) (5.14.1)
Requirement already satisfied: widgetsnbextension~=4.0.10 in c:\users\user\appdata\roaming\python\python312\site-packages (from ipywidgets->jupyter->fynesse==0.1.0) (4.0.10)
Requirement already satisfied: jupyterlab-widgets~=3.0.10 in c:\users\user\appdata\roaming\python\python312\site-packages (from ipywidgets->jupyter->fynesse==0.1.0) (3.0.10)
Requirement already satisfied: prompt-toolkit>=3.0.30 in c:\users\user\appdata\roaming\python\python312\site-packages (from jupyter-console->jupyter->fynesse==0.1.0) (3.0.43)
Requirement already satisfied: pygments in c:\users\user\appdata\roaming\python\python312\site-packages (from jupyter-console->jupyter->fynesse==0.1.0) (2.17.2)
Requirement already satisfied: async-lru>=1.0.0 in c:\users\user\appdata\roaming\python\python312\site-packages (from jupyterlab->jupyter->fynesse==0.1.0) (2.0.4)
Requirement already satisfied: httpx>=0.25.0 in c:\users\user\appdata\roaming\python\python312\site-packages (from jupyterlab->jupyter->fynesse==0.1.0) (0.27.2)
Requirement already satisfied: jinja2>=3.0.3 in c:\users\user\appdata\roaming\python\python312\site-packages (from jupyterlab->jupyter->fynesse==0.1.0) (3.1.3)
Requirement already satisfied: jupyter-lsp>=2.0.0 in c:\users\user\appdata\roaming\python\python312\site-packages (from jupyterlab->jupyter->fynesse==0.1.0) (2.2.5)
Requirement already satisfied: jupyter-server<3,>=2.4.0 in c:\users\user\appdata\roaming\python\python312\site-packages (from jupyterlab->jupyter->fynesse==0.1.0) (2.14.2)
Requirement already satisfied: jupyterlab-server<3,>=2.27.1 in c:\users\user\appdata\roaming\python\python312\site-packages (from jupyterlab->jupyter->fynesse==0.1.0) (2.27.3)
Requirement already satisfied: notebook-shim>=0.2 in c:\users\user\appdata\roaming\python\python312\site-packages (from jupyterlab->jupyter->fynesse==0.1.0) (0.2.4)
Requirement already satisfied: setuptools>=40.1.0 in c:\users\user\appdata\roaming\python\python312\site-packages (from jupyterlab->jupyter->fynesse==0.1.0) (69.0.3)
Requirement already satisfied: beautifulsoup4 in c:\users\user\appdata\roaming\python\python312\site-packages (from nbconvert->jupyter->fynesse==0.1.0) (4.12.3)
Requirement already satisfied: bleach!=5.0.0 in c:\users\user\appdata\roaming\python\python312\site-packages (from nbconvert->jupyter->fynesse==0.1.0) (6.2.0)
Requirement already satisfied: defusedxml in c:\users\user\appdata\roaming\python\python312\site-packages (from nbconvert->jupyter->fynesse==0.1.0) (0.7.1)
Requirement already satisfied: jupyterlab-pygments in c:\users\user\appdata\roaming\python\python312\site-packages (from nbconvert->jupyter->fynesse==0.1.0) (0.3.0)
Requirement already satisfied: markupsafe>=2.0 in c:\users\user\appdata\roaming\python\python312\site-packages (from nbconvert->jupyter->fynesse==0.1.0) (2.1.5)
Requirement already satisfied: mistune<4,>=2.0.3 in c:\users\user\appdata\roaming\python\python312\site-packages (from nbconvert->jupyter->fynesse==0.1.0) (3.0.2)
Requirement already satisfied: nbclient>=0.5.0 in c:\users\user\appdata\roaming\python\python312\site-packages (from nbconvert->jupyter->fynesse==0.1.0) (0.10.0)
Requirement already satisfied: nbformat>=5.7 in c:\users\user\appdata\roaming\python\python312\site-packages (from nbconvert->jupyter->fynesse==0.1.0) (5.10.4)
Requirement already satisfied: pandocfilters>=1.4.1 in c:\users\user\appdata\roaming\python\python312\site-packages (from nbconvert->jupyter->fynesse==0.1.0) (1.5.1)
Requirement already satisfied: tinycss2 in c:\users\user\appdata\roaming\python\python312\site-packages (from nbconvert->jupyter->fynesse==0.1.0) (1.4.0)
Requirement already satisfied: webencodings in c:\users\user\appdata\roaming\python\python312\site-packages (from bleach!=5.0.0->nbconvert->jupyter->fynesse==0.1.0) (0.5.1)
Requirement already satisfied: anyio in c:\users\user\appdata\roaming\python\python312\site-packages (from httpx>=0.25.0->jupyterlab->jupyter->fynesse==0.1.0) (4.6.2.post1)
Requirement already satisfied: certifi in c:\users\user\appdata\roaming\python\python312\site-packages (from httpx>=0.25.0->jupyterlab->jupyter->fynesse==0.1.0) (2024.2.2)
Requirement already satisfied: httpcore==1.* in c:\users\user\appdata\roaming\python\python312\site-packages (from httpx>=0.25.0->jupyterlab->jupyter->fynesse==0.1.0) (1.0.6)
Requirement already satisfied: idna in c:\users\user\appdata\roaming\python\python312\site-packages (from httpx>=0.25.0->jupyterlab->jupyter->fynesse==0.1.0) (3.6)
Requirement already satisfied: sniffio in c:\users\user\appdata\roaming\python\python312\site-packages (from httpx>=0.25.0->jupyterlab->jupyter->fynesse==0.1.0) (1.3.1)
Requirement already satisfied: h11<0.15,>=0.13 in c:\users\user\appdata\roaming\python\python312\site-packages (from httpcore==1.*->httpx>=0.25.0->jupyterlab->jupyter->fynesse==0.1.0) (0.14.0)
Requirement already satisfied: decorator in c:\users\user\appdata\roaming\python\python312\site-packages (from ipython>=7.23.1->ipykernel->jupyter->fynesse==0.1.0) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\user\appdata\roaming\python\python312\site-packages (from ipython>=7.23.1->ipykernel->jupyter->fynesse==0.1.0) (0.19.1)
Requirement already satisfied: stack-data in c:\users\user\appdata\roaming\python\python312\site-packages (from ipython>=7.23.1->ipykernel->jupyter->fynesse==0.1.0) (0.6.3)
Requirement already satisfied: colorama in c:\users\user\appdata\roaming\python\python312\site-packages (from ipython>=7.23.1->ipykernel->jupyter->fynesse==0.1.0) (0.4.6)
Requirement already satisfied: platformdirs>=2.5 in c:\users\user\appdata\roaming\python\python312\site-packages (from jupyter-core!=5.0.*,>=4.12->ipykernel->jupyter->fynesse==0.1.0) (4.2.0)
Requirement already satisfied: pywin32>=300 in c:\users\user\appdata\roaming\python\python312\site-packages (from jupyter-core!=5.0.*,>=4.12->ipykernel->jupyter->fynesse==0.1.0) (306)
Requirement already satisfied: argon2-cffi>=21.1 in c:\users\user\appdata\roaming\python\python312\site-packages (from jupyter-server<3,>=2.4.0->jupyterlab->jupyter->fynesse==0.1.0) (23.1.0)
Requirement already satisfied: jupyter-events>=0.9.0 in c:\users\user\appdata\roaming\python\python312\site-packages (from jupyter-server<3,>=2.4.0->jupyterlab->jupyter->fynesse==0.1.0) (0.10.0)
Requirement already satisfied: jupyter-server-terminals>=0.4.4 in c:\users\user\appdata\roaming\python\python312\site-packages (from jupyter-server<3,>=2.4.0->jupyterlab->jupyter->fynesse==0.1.0) (0.5.3)
Requirement already satisfied: overrides>=5.0 in c:\users\user\appdata\roaming\python\python312\site-packages (from jupyter-server<3,>=2.4.0->jupyterlab->jupyter->fynesse==0.1.0) (7.7.0)
Requirement already satisfied: prometheus-client>=0.9 in c:\users\user\appdata\roaming\python\python312\site-packages (from jupyter-server<3,>=2.4.0->jupyterlab->jupyter->fynesse==0.1.0) (0.21.0)
Requirement already satisfied: pywinpty>=2.0.1 in c:\users\user\appdata\roaming\python\python312\site-packages (from jupyter-server<3,>=2.4.0->jupyterlab->jupyter->fynesse==0.1.0) (2.0.14)
Requirement already satisfied: send2trash>=1.8.2 in c:\users\user\appdata\roaming\python\python312\site-packages (from jupyter-server<3,>=2.4.0->jupyterlab->jupyter->fynesse==0.1.0) (1.8.3)
Requirement already satisfied: terminado>=0.8.3 in c:\users\user\appdata\roaming\python\python312\site-packages (from jupyter-server<3,>=2.4.0->jupyterlab->jupyter->fynesse==0.1.0) (0.18.1)
Requirement already satisfied: websocket-client>=1.7 in c:\users\user\appdata\roaming\python\python312\site-packages (from jupyter-server<3,>=2.4.0->jupyterlab->jupyter->fynesse==0.1.0) (1.7.0)
Requirement already satisfied: babel>=2.10 in c:\users\user\appdata\roaming\python\python312\site-packages (from jupyterlab-server<3,>=2.27.1->jupyterlab->jupyter->fynesse==0.1.0) (2.16.0)
Requirement already satisfied: json5>=0.9.0 in c:\users\user\appdata\roaming\python\python312\site-packages (from jupyterlab-server<3,>=2.27.1->jupyterlab->jupyter->fynesse==0.1.0) (0.9.28)
Requirement already satisfied: jsonschema>=4.18.0 in c:\users\user\appdata\roaming\python\python312\site-packages (from jupyterlab-server<3,>=2.27.1->jupyterlab->jupyter->fynesse==0.1.0) (4.23.0)
Requirement already satisfied: requests>=2.31 in c:\users\user\appdata\roaming\python\python312\site-packages (from jupyterlab-server<3,>=2.27.1->jupyterlab->jupyter->fynesse==0.1.0) (2.31.0)
Requirement already satisfied: fastjsonschema>=2.15 in c:\users\user\appdata\roaming\python\python312\site-packages (from nbformat>=5.7->nbconvert->jupyter->fynesse==0.1.0) (2.20.0)
Requirement already satisfied: wcwidth in c:\users\user\appdata\roaming\python\python312\site-packages (from prompt-toolkit>=3.0.30->jupyter-console->jupyter->fynesse==0.1.0) (0.2.13)
Requirement already satisfied: soupsieve>1.2 in c:\users\user\appdata\roaming\python\python312\site-packages (from beautifulsoup4->nbconvert->jupyter->fynesse==0.1.0) (2.5)
Requirement already satisfied: argon2-cffi-bindings in c:\users\user\appdata\roaming\python\python312\site-packages (from argon2-cffi>=21.1->jupyter-server<3,>=2.4.0->jupyterlab->jupyter->fynesse==0.1.0) (21.2.0)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\users\user\appdata\roaming\python\python312\site-packages (from jedi>=0.16->ipython>=7.23.1->ipykernel->jupyter->fynesse==0.1.0) (0.8.3)
Requirement already satisfied: attrs>=22.2.0 in c:\users\user\appdata\roaming\python\python312\site-packages (from jsonschema>=4.18.0->jupyterlab-server<3,>=2.27.1->jupyterlab->jupyter->fynesse==0.1.0) (23.2.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in c:\users\user\appdata\roaming\python\python312\site-packages (from jsonschema>=4.18.0->jupyterlab-server<3,>=2.27.1->jupyterlab->jupyter->fynesse==0.1.0) (2024.10.1)
Requirement already satisfied: referencing>=0.28.4 in c:\users\user\appdata\roaming\python\python312\site-packages (from jsonschema>=4.18.0->jupyterlab-server<3,>=2.27.1->jupyterlab->jupyter->fynesse==0.1.0) (0.35.1)
Requirement already satisfied: rpds-py>=0.7.1 in c:\users\user\appdata\roaming\python\python312\site-packages (from jsonschema>=4.18.0->jupyterlab-server<3,>=2.27.1->jupyterlab->jupyter->fynesse==0.1.0) (0.21.0)
Requirement already satisfied: python-json-logger>=2.0.4 in c:\users\user\appdata\roaming\python\python312\site-packages (from jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->jupyterlab->jupyter->fynesse==0.1.0) (2.0.7)
Requirement already satisfied: pyyaml>=5.3 in c:\users\user\appdata\roaming\python\python312\site-packages (from jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->jupyterlab->jupyter->fynesse==0.1.0) (6.0.2)
Requirement already satisfied: rfc3339-validator in c:\users\user\appdata\roaming\python\python312\site-packages (from jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->jupyterlab->jupyter->fynesse==0.1.0) (0.1.4)
Requirement already satisfied: rfc3986-validator>=0.1.1 in c:\users\user\appdata\roaming\python\python312\site-packages (from jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->jupyterlab->jupyter->fynesse==0.1.0) (0.1.1)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\user\appdata\roaming\python\python312\site-packages (from requests>=2.31->jupyterlab-server<3,>=2.27.1->jupyterlab->jupyter->fynesse==0.1.0) (3.3.2)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\user\appdata\roaming\python\python312\site-packages (from requests>=2.31->jupyterlab-server<3,>=2.27.1->jupyterlab->jupyter->fynesse==0.1.0) (2.2.0)
Requirement already satisfied: executing>=1.2.0 in c:\users\user\appdata\roaming\python\python312\site-packages (from stack-data->ipython>=7.23.1->ipykernel->jupyter->fynesse==0.1.0) (2.0.1)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\user\appdata\roaming\python\python312\site-packages (from stack-data->ipython>=7.23.1->ipykernel->jupyter->fynesse==0.1.0) (2.4.1)
Requirement already satisfied: pure-eval in c:\users\user\appdata\roaming\python\python312\site-packages (from stack-data->ipython>=7.23.1->ipykernel->jupyter->fynesse==0.1.0) (0.2.2)
Requirement already satisfied: fqdn in c:\users\user\appdata\roaming\python\python312\site-packages (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->jupyterlab->jupyter->fynesse==0.1.0) (1.5.1)
Requirement already satisfied: isoduration in c:\users\user\appdata\roaming\python\python312\site-packages (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->jupyterlab->jupyter->fynesse==0.1.0) (20.11.0)
Requirement already satisfied: jsonpointer>1.13 in c:\users\user\appdata\roaming\python\python312\site-packages (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->jupyterlab->jupyter->fynesse==0.1.0) (3.0.0)
Requirement already satisfied: uri-template in c:\users\user\appdata\roaming\python\python312\site-packages (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->jupyterlab->jupyter->fynesse==0.1.0) (1.3.0)
Requirement already satisfied: webcolors>=24.6.0 in c:\users\user\appdata\roaming\python\python312\site-packages (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->jupyterlab->jupyter->fynesse==0.1.0) (24.11.1)
Requirement already satisfied: cffi>=1.0.1 in c:\users\user\appdata\roaming\python\python312\site-packages (from argon2-cffi-bindings->argon2-cffi>=21.1->jupyter-server<3,>=2.4.0->jupyterlab->jupyter->fynesse==0.1.0) (1.17.1)
Requirement already satisfied: pycparser in c:\users\user\appdata\roaming\python\python312\site-packages (from cffi>=1.0.1->argon2-cffi-bindings->argon2-cffi>=21.1->jupyter-server<3,>=2.4.0->jupyterlab->jupyter->fynesse==0.1.0) (2.22)
Requirement already satisfied: arrow>=0.15.0 in c:\users\user\appdata\roaming\python\python312\site-packages (from isoduration->jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->jupyterlab->jupyter->fynesse==0.1.0) (1.3.0)
Requirement already satisfied: types-python-dateutil>=2.8.10 in c:\users\user\appdata\roaming\python\python312\site-packages (from arrow>=0.15.0->isoduration->jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->jupyterlab->jupyter->fynesse==0.1.0) (2.9.0.20241003)
Building wheels for collected packages: fynesse
  Building wheel for fynesse (setup.py): started

  Running command git clone --filter=blob:none --quiet https://github.com/Salt2Salt/ab2886_ads_2024.git 'C:\Users\User\AppData\Local\Temp\pip-req-build-xh4fat07'

In [4]:
import pandas as pd
import numpy as np
import osmnx as ox
# TODO: more imports here
import fynesse

In [5]:
conn = fynesse.access.create_connection(username, password, url, 'ads_2024')

Connection established with ads_2024!

In [ ]:
fynesse.access.download_zipped_file("https://www.nomisweb.co.uk/output/census/2021/census2021-ts062.zip")
fynesse.access.download_zipped_file("https://www.nomisweb.co.uk/output/census/2021/census2021-ts054.zip")

In [6]:
#Note that I had manually moved the files from . to ../datasets, and renamed the names of the folders. This detracts from the reusability of this notebook.
path_to_datasets = "../datasets/"
# socioeconomic_classification_output_areas = "census2021-ts062/census2021-ts062-oa.csv"
sec_output_areas = path_to_datasets + "census2021_ns-sec/census2021-ts062-oa.csv"
# socioeconomic_classification_output_areas = "census2021-ts054/census2021-ts062-oa.csv"
tenure_output_areas = path_to_datasets + "census2021_tenure/census2021-ts054-oa.csv"

In [7]:
import os

In [8]:
sec_df = pd.read_csv(sec_output_areas)
sec_df.describe()

,date,National Statistics Socio-economic Classification (NS-SEC): Total: All usual residents aged 16 years and over,"National Statistics Socio-economic Classification (NS-SEC): L1, L2 and L3 Higher managerial, administrative and professional occupations","National Statistics Socio-economic Classification (NS-SEC): L4, L5 and L6 Lower managerial, administrative and professional occupations",National Statistics Socio-economic Classification (NS-SEC): L7 Intermediate occupations,National Statistics Socio-economic Classification (NS-SEC): L8 and L9 Small employers and own account workers,National Statistics Socio-economic Classification (NS-SEC): L10 and L11 Lower supervisory and technical occupations,National Statistics Socio-economic Classification (NS-SEC): L12 Semi-routine occupations,National Statistics Socio-economic Classification (NS-SEC): L13 Routine occupations,National Statistics Socio-economic Classification (NS-SEC): L14.1 and L14.2 Never worked and long-term unemployed,National Statistics Socio-economic Classification (NS-SEC): L15 Full-time students
count,188880.0,188880.000000,188880.000000,188880.000000,188880.000000,188880.000000,188880.000000,188880.000000,188880.000000,188880.000000,188880.000000
mean,2021.0,257.121188,33.640121,51.193641,29.390978,27.166587,13.874783,29.218604,31.024137,21.884911,19.727425
std,0.0,78.538843,23.857733,21.574000,12.131974,13.564867,6.730569,12.361695,18.302896,16.624752,51.873286
min,2021.0,59.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2021.0,218.000000,16.000000,35.000000,21.000000,18.000000,9.000000,20.000000,18.000000,11.000000,9.000000
50%,2021.0,249.000000,28.000000,50.000000,29.000000,25.000000,13.000000,29.000000,28.000000,18.000000,13.000000
75%,2021.0,286.000000,46.000000,65.000000,36.000000,33.000000,18.000000,37.000000,41.000000,28.000000,20.000000
max,2021.0,4463.000000,298.000000,467.000000,1024.000000,428.000000,334.000000,273.000000,881.000000,802.000000,4336.000000

In [9]:
del sec_df['date']

In [10]:
del sec_df['geography']

In [11]:
for col in sec_df.columns:
  print(f"{col}\t{sum(sec_df[col].isna())}\t{sec_df[col].dtype}")

geography code	0	object
National Statistics Socio-economic Classification (NS-SEC): Total: All usual residents aged 16 years and over	0	int64
National Statistics Socio-economic Classification (NS-SEC): L1, L2 and L3 Higher managerial, administrative and professional occupations	0	int64
National Statistics Socio-economic Classification (NS-SEC): L4, L5 and L6 Lower managerial, administrative and professional occupations	0	int64
National Statistics Socio-economic Classification (NS-SEC): L7 Intermediate occupations	0	int64
National Statistics Socio-economic Classification (NS-SEC): L8 and L9 Small employers and own account workers	0	int64
National Statistics Socio-economic Classification (NS-SEC): L10 and L11 Lower supervisory and technical occupations	0	int64
National Statistics Socio-economic Classification (NS-SEC): L12 Semi-routine occupations	0	int64
National Statistics Socio-economic Classification (NS-SEC): L13 Routine occupations	0	int64
National Statistics Socio-economic Classification (NS-SEC): L14.1 and L14.2 Never worked and long-term unemployed	0	int64
National Statistics Socio-economic Classification (NS-SEC): L15 Full-time students	0	int64

In [12]:
sec_df.describe()

,National Statistics Socio-economic Classification (NS-SEC): Total: All usual residents aged 16 years and over,"National Statistics Socio-economic Classification (NS-SEC): L1, L2 and L3 Higher managerial, administrative and professional occupations","National Statistics Socio-economic Classification (NS-SEC): L4, L5 and L6 Lower managerial, administrative and professional occupations",National Statistics Socio-economic Classification (NS-SEC): L7 Intermediate occupations,National Statistics Socio-economic Classification (NS-SEC): L8 and L9 Small employers and own account workers,National Statistics Socio-economic Classification (NS-SEC): L10 and L11 Lower supervisory and technical occupations,National Statistics Socio-economic Classification (NS-SEC): L12 Semi-routine occupations,National Statistics Socio-economic Classification (NS-SEC): L13 Routine occupations,National Statistics Socio-economic Classification (NS-SEC): L14.1 and L14.2 Never worked and long-term unemployed,National Statistics Socio-economic Classification (NS-SEC): L15 Full-time students
count,188880.000000,188880.000000,188880.000000,188880.000000,188880.000000,188880.000000,188880.000000,188880.000000,188880.000000,188880.000000
mean,257.121188,33.640121,51.193641,29.390978,27.166587,13.874783,29.218604,31.024137,21.884911,19.727425
std,78.538843,23.857733,21.574000,12.131974,13.564867,6.730569,12.361695,18.302896,16.624752,51.873286
min,59.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,218.000000,16.000000,35.000000,21.000000,18.000000,9.000000,20.000000,18.000000,11.000000,9.000000
50%,249.000000,28.000000,50.000000,29.000000,25.000000,13.000000,29.000000,28.000000,18.000000,13.000000
75%,286.000000,46.000000,65.000000,36.000000,33.000000,18.000000,37.000000,41.000000,28.000000,20.000000
max,4463.000000,298.000000,467.000000,1024.000000,428.000000,334.000000,273.000000,881.000000,802.000000,4336.000000

In [14]:
sec_df.to_csv('sec.csv')

In [13]:
%%sql
USE `ads_2024`;
--
-- Table structure for table `socioeconomic_classification`
--
DROP TABLE IF EXISTS `socioeconomic_classification`;

CREATE TABLE IF NOT EXISTS `socioeconomic_classification` (
  `geography_code` tinytext COLLATE utf8_bin NOT NULL,
  `total_usual_residents` SMALLINT UNSIGNED NOT NULL,
  `L1_2_3` SMALLINT UNSIGNED NOT NULL,
  `L4_5_6` SMALLINT UNSIGNED NOT NULL,
  `L7` SMALLINT UNSIGNED NOT NULL,
  `L8_9` SMALLINT UNSIGNED NOT NULL,
  `L10_11` SMALLINT UNSIGNED NOT NULL,
  `L12` SMALLINT UNSIGNED NOT NULL,
  `L13` SMALLINT UNSIGNED NOT NULL,
  `L14_1_14_2` SMALLINT UNSIGNED NOT NULL,
  `L15` SMALLINT UNSIGNED NOT NULL,
  `db_id` bigint(20) unsigned NOT NULL
) DEFAULT CHARSET=utf8 COLLATE=utf8_bin AUTO_INCREMENT=1 ;

ALTER TABLE `socioeconomic_classification`
ADD PRIMARY KEY (`db_id`);

 * mariadb+pymysql://admin:***@database-ads-ab2886.cgrre17yxw11.eu-west-2.rds.amazonaws.com/ads_2024?local_infile=1
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [15]:
fynesse.access.upload_data(conn, 'sec.csv', 'socioeconomic_classification')

In [16]:
fynesse.access.createIndex(conn, 'geography_code', 'socioeconomic_classification')

AttributeError: module 'fynesse.access' has no attribute 'createIndex'

Write a short paragraph summarising what you did in the Access stage.

I downloaded the Census 2021 datasets for socio-economic classifications/NS-SeC/TS062. At this point, they were C data because I assume the data was collected ethically, and I have it in my possession. To upgrade it to B data, I used pandas to check for null values, minimums and maximums and determined what data schema I could use for my tables. I also removed redundant columns.

## Assess

In [ ]:
https://www.ons.gov.uk/datasets/TS062/editions/2021/versions/5/filter-outputs/2af297d5-5329-41a7-b1ae-e0b4e20e6ca3#get-data
https://www.ons.gov.uk/filters/2534fec1-0726-4b3c-9a9e-34d21c89cc3f/dimensions#get-data

Write a short paragraph summarising what you did in the Assess stage.

In [ ]:
# TODO: your answer here

## Address

In [ ]:
def estimate_students(latitude: float, longitude: float) -> float:
    """
    Args:
    latitude (float): The latitude coordinate.
    longitude (float): The longitude coordinate.

    Returns:
    float: Estimated share of students in that area (value between 0 and 1).
    """
    # TODO: implement
    return NotImplementedError


def estimate_something(latitude: float, longitude: float) -> float:
    #TODO: rename function
    """
    Args:
    latitude (float): The latitude coordinate.
    longitude (float): The longitude coordinate.

    Returns:
    float: Estimated value, percentage, probability, etc
    """
    # TODO: implement
    return NotImplementedError

Write a short paragraph summarising what you did in the Address stage.

In [ ]:
# TODO: your answer here

In [ ]:
conn.close()

## Discussion

#### Story and structure

In [ ]:
# Marks awarded for inline explanation and structure, no need for answers here. Go over your notebook to make sure you explain what you did and why.

#### Design decisions

In [ ]:
# TODO: your answer here

#### Comparison

In [ ]:
# TODO: your answer here

#### Reusability

In [ ]:
# TODO: your answer here

# Task 2: miniproject (13 marks)

We expect your miniproject to be more advanced than the example project, and that's why we allocated more marks to it. The first 7 marks will be allocated similarly to Task 1.

6 remaining points are *bonus* - they will be allocated for going far beyond what you did in Task 1, either in data access, assess, address or story.

#### Choosing your topic

You are given a lot of flexibility in choosing a miniproject topic.

Some hints:
- Your project should be based on the Census, Price Paid, OSM and Election datasets.
- It's a good idea to pick something that you are interested in.
- Bear in mind there are no marks dedicated to your overall prediction accuracy, so there is no advantage to picking 'easy' topics. It is perfectly ok to not reach significant predictive power, as long as you followed the proper process.

Some guidelines:
- Do not make a miniproject that furthers discriminatory rhetoric. In general, avoid topics that could be insensitive. If in doubt, message Radzim Sendyka (and *cc* Christian Cabrera) to discuss if this applies to your idea.
- Please avoid any projects that would require approval from the ethics comittee.
- Pick the scope of your projects that will allow you to show your skills. Some projects might not be challenging enough while others might be hard to make any progress in. Don't be scared to report negative results.

Please email Radzim Sendyka (and *cc* Christian Cabrera) with your project idea when you begin working on it, so we can let you know about any potential concerns (eg. potentially insensive, too off-topic, too simple, too complex) as soon as we can. You can change the topic up to the submission deadline, but let us know again in cases of major changes.

Most of the advice from Task 1 still applies, particularly around using an online relational database, structuring your notebook, fynesse, access-assess-address, data readiness levels, hints.

Sources you may want to include in your data include:

  - UK Census Data
    - UK Census 2021 data [here](https://www.ons.gov.uk/search?topics=9731,6646,3845,9497,4262,4128,7755,4994,6885,9724,7367&filter=datasets) or [here](https://www.nomisweb.co.uk/sources/census_2021_bulk).
    - Historical Census data [here](https://www.ons.gov.uk/census/historiccensusdata).
    - Geographic coordinates of Census Output Areas [here](https://www.data.gov.uk/dataset/4d4e021d-fe98-4a0e-88e2-3ead84538537/output-areas-december-2021-boundaries-ew-bgc-v2).
  - Spatial data
    - You should already have a connection to OpenStreetMaps.
    - You might want to also download the entire map for England (or more) [here](https://download.openstreetmap.fr/extracts/) or [here](https://wiki.openstreetmap.org/wiki/Planet.osm).
  - Election data
    - Recent Election Results data [here](https://commonslibrary.parliament.uk/research-briefings/cbp-10009/)
    - Historical Election Results data [here](https://commonslibrary.parliament.uk/research-briefings/cbp-8647/#fullreport).
    - Lookup reference between Output Areas and Parliamentary Constituencies [here](https://geoportal.statistics.gov.uk/datasets/5968b5b2c0f14dd29ba277beaae6dec3_0/explore).
  - Price Paid Data
    - You should have this data already in your database.
  - OSM
    - You should know how to access this data from previous practicals.

Example ideas:

- Are areas correlated in terms of census results? If so, find the areas that are leading change, and the ones that are following.
- Which historical census variables used to predict election results in the past, but don't seem related anymore?
- Census results are only updated once a decade, but new roads and houses are built every year. Can census results, for example those relating to travel, be predicted from basic map information, such as street networks?
- Building new houses is our best way of tackling the housing crisis. Use the information on new builds in the house prices dataset to explore what factors drive new developments, and make predictions for where the next houses will be built.
- House styles differ a lot between regions and inhabitants. Can you make any predictions about the house or area simply from looking at it's geometric shape and orientation?

Note that the ideas are just a starting point question. You should include more in-depth investigations into the data, validate your findings where applicable, and prepare visualisations.

## Title and description

In [ ]:
# TODO: title your miniproject

In [ ]:
# TODO: provide a very brief description of the goals of your miniproject

## TODO: Your Project Goes Here

## Conclusions

The below code is for marking purpuses only, and not part of your project. It helps us gather the data we need without asking you for database credentials, and scouring github pages. This is mandatory. If the code does not work for you, let us know immediately.

1) Please re-run the code from Practical 1 to help us see the contents of your database. We recommend you include all data sources there, but some smaller inputs are fine to use as files.

In [17]:
tables = %sql SHOW TABLES;

for row in tables:
    table_name = row[0]
    print(f"\nTable: {table_name}")

    table_status = %sql SHOW TABLE STATUS LIKE '{table_name}';
    approx_row_count = table_status[0][4] if table_status else 'Unable to fetch row count'
    print("\nApprox Row Count:", approx_row_count//100000/10, "M")

    first_5_rows = %sql SELECT * FROM `{table_name}` LIMIT 5;
    print(first_5_rows)

    indices = %sql SHOW INDEX FROM `{table_name}`;
    if indices:
        print("\nIndices:")
        for index in indices:
            print(f" - {index[2]} ({index[10]}): Column {index[4]}")
    else:
        print("\nNo indices set on this table.")

 * mariadb+pymysql://admin:***@database-ads-ab2886.cgrre17yxw11.eu-west-2.rds.amazonaws.com/ads_2024?local_infile=1
4 rows affected.

Table: postcode_data
 * mariadb+pymysql://admin:***@database-ads-ab2886.cgrre17yxw11.eu-west-2.rds.amazonaws.com/ads_2024?local_infile=1
1 rows affected.

Approx Row Count: 2.5 M
 * mariadb+pymysql://admin:***@database-ads-ab2886.cgrre17yxw11.eu-west-2.rds.amazonaws.com/ads_2024?local_infile=1
5 rows affected.
+----------+------------+----------+---------+----------+------------------------------+----------+-------------+-------------+-------------------+----------------------------+----------------------------+---------------+-------------------+-----------------+---------+--------+-------+
| postcode |   status   | usertype | easting | northing | positional_quality_indicator | country  |   latitude  |  longitude  | postcode_no_space | postcode_fixed_width_seven | postcode_fixed_width_eight | postcode_area | postcode_district | postcode_sector | outcode | incode | db_id |
+----------+------------+----------+---------+----------+------------------------------+----------+-------------+-------------+-------------------+----------------------------+----------------------------+---------------+-------------------+-----------------+---------+--------+-------+
| AB1 0AA  | terminated |  small   |  385386 |  801193  |              1               | Scotland | 57.10147400 | -2.24285100 |       AB10AA      |          AB1 0AA           |          AB1  0AA          |       AB      |        AB1        |      AB1 0      |   AB1   |  0AA   |   1   |
| AB1 0AB  | terminated |  small   |  385177 |  801314  |              1               | Scotland | 57.10255400 | -2.24630800 |       AB10AB      |          AB1 0AB           |          AB1  0AB          |       AB      |        AB1        |      AB1 0      |   AB1   |  0AB   |   2   |
| AB1 0AD  | terminated |  small   |  385053 |  801092  |              1               | Scotland | 57.10055600 | -2.24834200 |       AB10AD      |          AB1 0AD           |          AB1  0AD          |       AB      |        AB1        |      AB1 0      |   AB1   |  0AD   |   3   |
| AB1 0AE  | terminated |  small   |  384600 |  799300  |              8               | Scotland | 57.08444400 | -2.25570800 |       AB10AE      |          AB1 0AE           |          AB1  0AE          |       AB      |        AB1        |      AB1 0      |   AB1   |  0AE   |   4   |
| AB1 0AF  | terminated |  large   |  384460 |  800660  |              8               | Scotland | 57.09665600 | -2.25810200 |       AB10AF      |          AB1 0AF           |          AB1  0AF          |       AB      |        AB1        |      AB1 0      |   AB1   |  0AF   |   5   |
+----------+------------+----------+---------+----------+------------------------------+----------+-------------+-------------+-------------------+----------------------------+----------------------------+---------------+-------------------+-----------------+---------+--------+-------+
 * mariadb+pymysql://admin:***@database-ads-ab2886.cgrre17yxw11.eu-west-2.rds.amazonaws.com/ads_2024?local_infile=1
4 rows affected.

Indices:
 - PRIMARY (BTREE): Column db_id
 - idx_postcode_data_postcode (BTREE): Column postcode
 - idx_latitude_longitude (BTREE): Column latitude
 - idx_latitude_longitude (BTREE): Column longitude

Table: pp_data
 * mariadb+pymysql://admin:***@database-ads-ab2886.cgrre17yxw11.eu-west-2.rds.amazonaws.com/ads_2024?local_infile=1
1 rows affected.

Approx Row Count: 29.2 M
 * mariadb+pymysql://admin:***@database-ads-ab2886.cgrre17yxw11.eu-west-2.rds.amazonaws.com/ads_2024?local_infile=1
5 rows affected.
+----------------------------------------+--------+------------------+----------+---------------+----------------+-------------+---------------------------------+-----------------------------------+-------------------+------------+------------+-----------------+----------------+-------------------+---------------+-------+
|     transaction_unique_identifier      | price  | date_of_transfer | postcode | property_type | new_build_flag | tenure_type | primary_addressable_object_name | secondary_addressable_object_name |       street      |  locality  | town_city  |     district    |     county     | ppd_category_type | record_status | db_id |
+----------------------------------------+--------+------------------+----------+---------------+----------------+-------------+---------------------------------+-----------------------------------+-------------------+------------+------------+-----------------+----------------+-------------------+---------------+-------+
| {109BBF80-1E51-4910-8E2C-B124E1117A7A} | 34950  |    1995-06-09    | BA3 3AH  |       F       |       N        |      L      |          COOMBEND HOUSE         |                 7                 |      COOMBEND     |  RADSTOCK  |  RADSTOCK  |     WANSDYKE    |      AVON      |         A         |       A       |   1   |
| {D5233D67-2975-426B-B98D-B124E39331D9} | 133000 |    1995-06-19    | SW18 5AG |       T       |       N        |      F      |               142               |                                   | ASTONVILLE STREET |   LONDON   |   LONDON   |    WANDSWORTH   | GREATER LONDON |         A         |       A       |   2   |
| {718BD35C-25E1-431C-8AF7-B124E63ED4E1} | 83000  |    1995-08-21    | IP11 7PU |       D       |       N        |      F      |                3                |                                   |   GARFIELD ROAD   | FELIXSTOWE | FELIXSTOWE | SUFFOLK COASTAL |    SUFFOLK     |         A         |       A       |   3   |
| {E127F626-6247-4D95-A392-B124F4C0A558} | 59000  |    1995-07-27    | PE21 0SF |       D       |       Y        |      F      |            BEAUCADRE            |                                   |   GAYSFIELD ROAD  |  FISHTOFT  |   BOSTON   |      BOSTON     |  LINCOLNSHIRE  |         A         |       A       |   4   |
| {B10762A0-2C9C-4C82-A885-B1250B55FFF9} | 51000  |    1995-02-28    | ME7 4DF  |       T       |       N        |      F      |                41               |                                   |   FRANKLIN ROAD   | GILLINGHAM | GILLINGHAM |    GILLINGHAM   |      KENT      |         A         |       A       |   5   |
+----------------------------------------+--------+------------------+----------+---------------+----------------+-------------+---------------------------------+-----------------------------------+-------------------+------------+------------+-----------------+----------------+-------------------+---------------+-------+
 * mariadb+pymysql://admin:***@database-ads-ab2886.cgrre17yxw11.eu-west-2.rds.amazonaws.com/ads_2024?local_infile=1
3 rows affected.

Indices:
 - PRIMARY (BTREE): Column db_id
 - idx_pp_postcode (BTREE): Column postcode
 - idx_pp_date_transfer (BTREE): Column date_of_transfer

Table: prices_coordinates_data
 * mariadb+pymysql://admin:***@database-ads-ab2886.cgrre17yxw11.eu-west-2.rds.amazonaws.com/ads_2024?local_infile=1
1 rows affected.

Approx Row Count: 29.2 M
 * mariadb+pymysql://admin:***@database-ads-ab2886.cgrre17yxw11.eu-west-2.rds.amazonaws.com/ads_2024?local_infile=1
5 rows affected.
+-------+------------------+----------+---------------+----------------+-------------+---------------+---------------+----------------------------------------+----------------+---------+-------------+-------------+-------+
| price | date_of_transfer | postcode | property_type | new_build_flag | tenure_type |    locality   |   town_city   |                district                |     county     | country |   latitude  |  longitude  | db_id |
+-------+------------------+----------+---------------+----------------+-------------+---------------+---------------+----------------------------------------+----------------+---------+-------------+-------------+-------+
| 18500 |    1995-01-01    | HU13 9EQ |       T       |       N        |      F      |     HESSLE    |     HESSLE    | THE EAST YORKSHIRE BOROUGH OF BEVERLEY |   HUMBERSIDE   | England | 53.72841800 | -0.42375800 |   1   |
| 43000 |    1995-01-01    | DY11 5EG |       S       |       N        |      F      | KIDDERMINSTER | KIDDERMINSTER |              WYRE FOREST               | WORCESTERSHIRE | England | 52.39987900 | -2.25250200 |   2   |
| 40000 |    1995-01-01    | PO2 7HQ  |       T       |       N        |      F      |   PORTSMOUTH  |   PORTSMOUTH  |               PORTSMOUTH               |   PORTSMOUTH   | England | 50.81107800 | -1.08100100 |   3   |
| 70495 |    1995-01-01    | E14 7LE  |       F       |       Y        |      L      |     LONDON    |     LONDON    |             TOWER HAMLETS              | GREATER LONDON | England | 51.51261900 | -0.03244900 |   4   |
| 43000 |    1995-01-01    | IP13 9BY |       T       |       N        |      F      |  FRAMLINGHAM  |   WOODBRIDGE  |            SUFFOLK COASTAL             |    SUFFOLK     | England | 52.22133600 |  1.35248100 |   5   |
+-------+------------------+----------+---------------+----------------+-------------+---------------+---------------+----------------------------------------+----------------+---------+-------------+-------------+-------+
 * mariadb+pymysql://admin:***@database-ads-ab2886.cgrre17yxw11.eu-west-2.rds.amazonaws.com/ads_2024?local_infile=1
5 rows affected.

Indices:
 - PRIMARY (BTREE): Column db_id
 - idx_latitude_longitude (BTREE): Column latitude
 - idx_latitude_longitude (BTREE): Column longitude
 - idx_date_of_transfer (BTREE): Column date_of_transfer
 - idx_postcode (BTREE): Column postcode

Table: socioeconomic_classification
 * mariadb+pymysql://admin:***@database-ads-ab2886.cgrre17yxw11.eu-west-2.rds.amazonaws.com/ads_2024?local_infile=1
1 rows affected.

Approx Row Count: 0.0 M
 * mariadb+pymysql://admin:***@database-ads-ab2886.cgrre17yxw11.eu-west-2.rds.amazonaws.com/ads_2024?local_infile=1
5 rows affected.
+----------------+-----------------------+--------+--------+----+------+--------+-----+-----+------------+-----+-------+
| geography_code | total_usual_residents | L1_2_3 | L4_5_6 | L7 | L8_9 | L10_11 | L12 | L13 | L14_1_14_2 | L15 | db_id |
+----------------+-----------------------+--------+--------+----+------+--------+-----+-----+------------+-----+-------+
|                |           0           |   0    |   0    | 0  |  0   |   0    |  0  |  0  |     0      |  0  |   0   |
|      1316      |           0           |  147   |   39   | 37 |  15  |   15   |  10 |  8  |     13     |  9  |   1   |
|       0        |           0           |  159   |   80   | 38 |  13  |   9    |  3  |  5  |     5      |  4  |   2   |
|       76       |           0           |   96   |   3    | 11 |  16  |   10   |  7  |  12 |     20     |  14 |   3   |
|       2        |           0           |  103   |   37   | 28 |  8   |   21   |  0  |  3  |     1      |  1  |   4   |
+----------------+-----------------------+--------+--------+----+------+--------+-----+-----+------------+-----+-------+
 * mariadb+pymysql://admin:***@database-ads-ab2886.cgrre17yxw11.eu-west-2.rds.amazonaws.com/ads_2024?local_infile=1
1 rows affected.

Indices:
 - PRIMARY (BTREE): Column db_id

2) Please paste a link to your fynesse library below, and make sure it's publically accessible. Also run the code below, and make sure it worked, printing out the contents of your library.

In [1]:
fynesse_url = 'https://github.com/Salt2Salt/ab2886_ads_2024'

In [18]:
import fynesse
import os

print('FYNESSE STRUCTURE:')
package_path = os.path.dirname(fynesse.__file__)
for root, dirs, files in os.walk(package_path):
    level = root.replace(package_path, '').count(os.sep)
    indent = ' ' * 4 * level
    print(f"{indent}{os.path.basename(root)}/")
    sub_indent = ' ' * 4 * (level + 1)
    for f in files:
        print(f"{sub_indent}{f}")

print('FILE CONTENTS')
for root, dirs, files in os.walk(package_path):
    for file in files:
        file_path = os.path.join(root, file)
        print(f"--- Contents of {file_path} ---\n")
        try:
            with open(file_path, "r", encoding="utf-8") as f:
                print(f.read())
        except Exception as e:
            print(f"Could not read {file_path}: {e}")
        print("\n" + "-" * 50 + "\n")

FYNESSE STRUCTURE:
fynesse/
    access.py
    address.py
    assess.py
    config.py
    defaults.yml
    utils.py
    __init__.py
    __pycache__/
        access.cpython-312.pyc
        address.cpython-312.pyc
        assess.cpython-312.pyc
        config.cpython-312.pyc
        utils.cpython-312.pyc
        __init__.cpython-312.pyc
FILE CONTENTS
--- Contents of C:\Users\User\AppData\Roaming\Python\Python312\site-packages\fynesse\access.py ---

from .config import *
from .utils import logString
import requests
import zipfile
import io
import pymysql
import csv
"""These are the types of import we might expect in this file
import httplib2
import oauth2
import tables
import mongodb
import sqlite"""

# This file accesses the data

"""Place commands in this file to access the data electronically. Don't remove any missing values, or deal with outliers. Make sure you have legalities correct, both intellectual property and personal data privacy rights. Beyond the legal side also think about the ethical issues around this data. """

def data():
    """Read the data from the web or local file, returning structured format such as a data frame"""
    raise NotImplementedError

def hello_world():
  print("Hello from the data science library!")

def download_price_paid_data(year_from, year_to):
    # Base URL where the dataset is stored
    base_url = "http://prod.publicdata.landregistry.gov.uk.s3-website-eu-west-1.amazonaws.com"
    """Download UK house price data for given year range"""
    # File name with placeholders
    file_name = "/pp-<year>-part<part>.csv"
    for year in range(year_from, (year_to+1)):
        print (f"Downloading data for year: {year}")
        for part in range(1,3):
            url = base_url + file_name.replace("<year>", str(year)).replace("<part>", str(part))
            response = requests.get(url)
            if response.status_code == 200:
                with open("." + file_name.replace("<year>", str(year)).replace("<part>", str(part)), "wb") as file:
                    file.write(response.content)

def download_zipped_file(file):
    response = requests.get(source)
    if response.status_code == 200:
        zipped_file = zipfile.ZipFile(io.BytesIO(response.content)) #Both of these lines are
        zipped_file.extractall('.')                                 #from stack overflow
        print(f"Zipped file downloaded!{file}")
    else:
        print(f"Failed to download {file}")

def download_open_postcode_geo():
    download_zipped_file("https://www.getthedata.com/downloads/open_postcode_geo.csv.zip")

def create_connection(user, password, host, database, port=3306):
    """ Create a database connection to the MariaDB database
        specified by the host url and database name.
    :param user: username
    :param password: password
    :param host: host url
    :param database: database name
    :param port: port number
    :return: Connection object or None
    """
    conn = None
    try:
        conn = pymysql.connect(user=user,
                               passwd=password,
                               host=host,
                               port=port,
                               local_infile=1,
                               db=database
                               )
        print(f"Connection established with {database}!")
    except Exception as e:
        print(f"Error connecting to the MariaDB '{database}' Server: {e}")
    return conn

def upload_data(conn, file, table_name, log=False):
  executeCommand(conn, f"LOAD DATA LOCAL INFILE '{file}' INTO TABLE `{table_name}` FIELDS TERMINATED BY ',' OPTIONALLY ENCLOSED by '\"' LINES STARTING BY '' TERMINATED BY '\n';", log)

def housing_upload_join_data(conn, year):
  start_date = str(year) + "-01-01"
  end_date = str(year) + "-12-31"

  cur = conn.cursor()
  print('Selecting data for year: ' + str(year))
  # cur.execute(f'SELECT pp.price, pp.date_of_transfer, po.postcode, pp.property_type, pp.new_build_flag, pp.tenure_type, pp.locality, pp.town_city, pp.district, pp.county, po.country, po.latitude, po.longitude FROM (SELECT price, date_of_transfer, postcode, property_type, new_build_flag, tenure_type, locality, town_city, district, county FROM pp_data WHERE date_of_transfer BETWEEN "' + start_date + '" AND "' + end_date + '") AS pp INNER JOIN postcode_data AS po ON pp.postcode = po.postcode')
  # cur.execute(f'SELECT pp.price, pp.date_of_transfer, po.postcode, pp.property_type, pp.new_build_flag, pp.tenure_type, pp.locality, pp.town_city, pp.district, pp.county, po.country, po.latitude, po.longitude
  #   FROM (
  #     SELECT price, date_of_transfer, postcode, property_type, new_build_flag, tenure_type, locality, town_city, district, county
  #     FROM pp_data
  #     WHERE date_of_transfer BETWEEN "' + start_date + '" AND "' + end_date + '"
  #   ) AS pp
  #   INNER JOIN postcode_data AS po
  #   ON pp.postcode = po.postcode')
  #
  # cur.execute(f"""
  #   WITH pp AS (
  #     SELECT price, date_of_transfer, postcode, property_type, new_build_flag, tenure_type, locality, town_city, district, county
  #     FROM pp_data
  #     WHERE date_of_transfer BETWEEN "{start_date}" AND "{end_date}"
  #   ),
  #   po AS (
  #     SELECT country, latitude, longitude, postcode
  #     FROM postcode_data
  #     WHERE date_of_transfer BETWEEN "{start_date}" AND "{end_date}"
  #   )

# cur.execute(f'SELECT pp.price, pp.date_of_transfer, po.postcode, pp.property_type, pp.new_build_flag, pp.tenure_type, pp.locality, pp.town_city, pp.district, pp.county, po.country, po.latitude, po.longitude
#     FROM (
#       SELECT price, date_of_transfer, postcode, property_type, new_build_flag, tenure_type, locality, town_city, district, county
#       FROM pp_data
#       WHERE date_of_transfer BETWEEN "' + start_date + '" AND "' + end_date + '"
#     ) AS pp
#     INNER JOIN postcode_data AS po
#     ON pp.postcode = po.postcode')

  cur.execute(f"""
    INSERT INTO prices_coordinates_data (price, date_of_transfer, postcode, property_type, new_build_flag, tenure_type, locality, town_city, district, county, country, latitude, longitude)
    SELECT pp.price, pp.date_of_transfer, po.postcode, pp.property_type, pp.new_build_flag, pp.tenure_type, pp.locality, pp.town_city, pp.district, pp.county, po.country, po.latitude, po.longitude
    FROM (
      SELECT price, date_of_transfer, postcode, property_type, new_build_flag, tenure_type, locality, town_city, district, county
      FROM pp_data
      WHERE date_of_transfer BETWEEN "{start_date}" AND "{end_date}"
    ) AS pp
    INNER JOIN (
      SELECT country, latitude, longitude, postcode
      FROM postcode_data
    ) AS po
    ON pp.postcode = po.postcode""")
  rows = cur.fetchall()

  csv_file_path = 'output_file.csv'

  # Write the rows to the CSV file
  with open(csv_file_path, 'w', newline='') as csvfile:
    csv_writer = csv.writer(csvfile)
    # Write the data rows
    csv_writer.writerows(rows)
  print('Storing data for year: ' + str(year))
  cur.execute(f"LOAD DATA LOCAL INFILE '" + csv_file_path + "' INTO TABLE `prices_coordinates_data` FIELDS TERMINATED BY ',' OPTIONALLY ENCLOSED by '\"' LINES STARTING BY '' TERMINATED BY '\n';")
  cur.commit()
  print('Data stored for year: ' + str(year))

def executeCommand(conn, sql, log=False):
  if log: print(logString("Executing SQL command:", sql))
  cur = conn.cursor()
  try:
    cur.execute(sql)
  except:
    print("Error executing SQL command")
    conn.rollback()
  else:
    conn.commit()

def geo():
    tags = {
        "amenity": True,
        "buildings": True,
        "historic": True,
        "leisure": True,
        "shop": True,
        "tourism": True,
        "religion": True,
        "memorial": True
    }
    ox.geometries_from_bbox(north, south, east, west, tags)


--------------------------------------------------

--- Contents of C:\Users\User\AppData\Roaming\Python\Python312\site-packages\fynesse\address.py ---

# This file contains code for suporting addressing questions in the data
import numpy as np
from geopy.distance import distance
import osmnx as ox
"""# Here are some of the imports we might expect
import sklearn.model_selection  as ms
import sklearn.linear_model as lm
import sklearn.svm as svm
import sklearn.naive_bayes as naive_bayes
import sklearn.tree as tree

import GPy
import torch
import tensorflow as tf

# Or if it's a statistical analysis
import scipy.stats"""

"""Address a particular question that arises from the data"""

# Use this box for any code you need
def getBoundingBox(location, side_length_km):
  """Returns the northeastern point of the bounding box (numerically larger) and the southwestern point (numerically smaller).
  Doesn't hold true if the side_length gets too big."""
  northeast_point = distance(side_length_km/np.sqrt(2)).destination(location, bearing=45)
  southwest_point = distance(side_length_km/np.sqrt(2)).destination(location, bearing=180+45) # I found out about this series of function calls online
  return (northeast_point.latitude, northeast_point.longitude), (southwest_point.latitude, southwest_point.longitude)

def count_pois_near_coordinates(latitude: float, longitude: float, tags: dict, distance_km: float = 1.0) -> dict:
    """
    Count Points of Interest (POIs) near a given pair of coordinates within a specified distance.
    Args:
        latitude (float): Latitude of the location.
        longitude (float): Longitude of the location.
        tags (dict): A dictionary of OSM tags to filter the POIs (e.g., {'amenity': True, 'tourism': True}).
        distance_km (float): The distance around the location in kilometers. Default is 1 km.
    Returns:
        dict: A dictionary where keys are the OSM tags and values are the counts of POIs for each tag.
    """
    # ChatGPT told me that I could use geopy to get the distance between two points specified by coordinates, and gave me an example that I used.
    # kmPerDegree = 111
    (north, east), (south,west) = getBoundingBox((latitude, longitude), distance_km*2)
    places_of_interest = ox.geometries_from_bbox(north, south, east, west, tags)
    origin = (latitude, longitude)
    def isWithinDistance(row):
      if isinstance(row.geometry, Point):
        poi_loc = (row.geometry.x, row.geometry.y)
        print(f"Is {poi_loc} near {origin}?")
        return distance(origin, poi_loc).km < distance_km
      else:
        return False
    return len(places_of_interest.loc[isWithinDistance])

if __name__ == "__main__":
  print("Test")
  print(getBoundingBox((0,0), 222)) # expect to see (1,1), (-1,-1)
  print(getBoundingBox((60,16), 222)) # expect to see (61,18), (59,14)
  # ((1.0037980684640913, 0.9972313173423671), (-1.0037980684640913, -0.9972313173423671))
  # ((60.98073503140397, 18.050462434827125), (58.98913187102387, 14.06917263719269))


--------------------------------------------------

--- Contents of C:\Users\User\AppData\Roaming\Python\Python312\site-packages\fynesse\assess.py ---

from .config import *

from . import access

"""These are the types of import we might expect in this file
import pandas
import bokeh
import seaborn
import matplotlib.pyplot as plt
import sklearn.decomposition as decomposition
import sklearn.feature_extraction"""

"""Place commands in this file to assess the data you have downloaded. How are missing values encoded, how are outliers encoded? What do columns represent, makes rure they are correctly labeled. How is the data indexed. Crete visualisation routines to assess the data (e.g. in bokeh). Ensure that date formats are correct and correctly timezoned."""


def data():
    """Load the data from access and ensure missing values are correctly encoded as well as indices correct, column names informative, date and times correctly formatted. Return a structured data structure such as a data frame."""
    df = access.data()
    raise NotImplementedError

def query(data):
    """Request user input for some aspect of the data."""
    raise NotImplementedError

def view(data):
    """Provide a view of the data that allows the user to verify some aspect of its quality."""
    raise NotImplementedError

def labelled(data):
    """Provide a labelled set of data ready for supervised learning."""
    raise NotImplementedError


--------------------------------------------------

--- Contents of C:\Users\User\AppData\Roaming\Python\Python312\site-packages\fynesse\config.py ---

import os
import yaml

default_file = os.path.join(os.path.dirname(__file__), "defaults.yml")
local_file = os.path.abspath(os.path.join(os.path.dirname(__file__), "machine.yml"))
user_file = '_config.yml'

config = {}

if os.path.exists(default_file):
    with open(default_file) as file:
        config.update(yaml.load(file, Loader=yaml.FullLoader))

if os.path.exists(local_file):
    with open(local_file) as file:
        config.update(yaml.load(file, Loader=yaml.FullLoader))

if os.path.exists(user_file):
    with open(user_file) as file:
        config.update(yaml.load(file, Loader=yaml.FullLoader))

if config=={}:
    raise ValueError(
        "No configuration file found at either "
        + user_file
        + " or "
        + local_file
        + " or "
        + default_file
        + "."
    )

for key, item in config.items():
    if item is str:
        config[key] = os.path.expandvars(item)


--------------------------------------------------

--- Contents of C:\Users\User\AppData\Roaming\Python\Python312\site-packages\fynesse\defaults.yml ---

# Place config informatio you want everyone to have here.
data_url: https://raw.githubusercontent.com/lawrennd/datasets_mirror/main/


--------------------------------------------------

--- Contents of C:\Users\User\AppData\Roaming\Python\Python312\site-packages\fynesse\utils.py ---

def logString(header, block):
  """Indents block and adds an unindented header"""
  if block[0] != '\n': block = '\n' + block
  return header + block.replace('\n', '\n|  ')

--------------------------------------------------

--- Contents of C:\Users\User\AppData\Roaming\Python\Python312\site-packages\fynesse\__init__.py ---

from . import access
from . import assess
from . import address


--------------------------------------------------

--- Contents of C:\Users\User\AppData\Roaming\Python\Python312\site-packages\fynesse\__pycache__\access.cpython-312.pyc ---

Could not read C:\Users\User\AppData\Roaming\Python\Python312\site-packages\fynesse\__pycache__\access.cpython-312.pyc: 'utf-8' codec can't decode byte 0xcb in position 0: invalid continuation byte

--------------------------------------------------

--- Contents of C:\Users\User\AppData\Roaming\Python\Python312\site-packages\fynesse\__pycache__\address.cpython-312.pyc ---

Could not read C:\Users\User\AppData\Roaming\Python\Python312\site-packages\fynesse\__pycache__\address.cpython-312.pyc: 'utf-8' codec can't decode byte 0xcb in position 0: invalid continuation byte

--------------------------------------------------

--- Contents of C:\Users\User\AppData\Roaming\Python\Python312\site-packages\fynesse\__pycache__\assess.cpython-312.pyc ---

Could not read C:\Users\User\AppData\Roaming\Python\Python312\site-packages\fynesse\__pycache__\assess.cpython-312.pyc: 'utf-8' codec can't decode byte 0xcb in position 0: invalid continuation byte

--------------------------------------------------

--- Contents of C:\Users\User\AppData\Roaming\Python\Python312\site-packages\fynesse\__pycache__\config.cpython-312.pyc ---

Could not read C:\Users\User\AppData\Roaming\Python\Python312\site-packages\fynesse\__pycache__\config.cpython-312.pyc: 'utf-8' codec can't decode byte 0xcb in position 0: invalid continuation byte

--------------------------------------------------

--- Contents of C:\Users\User\AppData\Roaming\Python\Python312\site-packages\fynesse\__pycache__\utils.cpython-312.pyc ---

Could not read C:\Users\User\AppData\Roaming\Python\Python312\site-packages\fynesse\__pycache__\utils.cpython-312.pyc: 'utf-8' codec can't decode byte 0xcb in position 0: invalid continuation byte

--------------------------------------------------

--- Contents of C:\Users\User\AppData\Roaming\Python\Python312\site-packages\fynesse\__pycache__\__init__.cpython-312.pyc ---

Could not read C:\Users\User\AppData\Roaming\Python\Python312\site-packages\fynesse\__pycache__\__init__.cpython-312.pyc: 'utf-8' codec can't decode byte 0xcb in position 0: invalid continuation byte

--------------------------------------------------